.payment_method_azampaymomo img {
  max-height: 50px;
}

.payment_method_azampaymomo p:first-child {
  margin-bottom: 1em;
}

#wc-azampaymomo-form {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
}

#wc-azampaymomo-form.wc-payment-form.block-field {
  padding-block: 0 !important;
  margin-block: 0 !important;
  border: 0px;
}

#wc-azampaymomo-form .payment-number-field {
  padding: 10px;
  border-radius: 10px;
  margin-top: 2em;
  background: #fff;
  border: 1px solid #c4c4c4;
  text-overflow: ellipsis;
}

#wc-azampaymomo-form .payment-number-field:focus {
  border: 1px solid #7f54b3;
}

#wc-azampaymomo-form .azampesa-label-container {
  display: flex;
  justify-content: center;
}

#wc-azampaymomo-form .azampesa-container {
  display: inline-flex;
  gap: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

#wc-azampaymomo-form .azampesa-right-block {
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: #1e54b6;
  align-items: center;
  font-weight: bold;
}

#wc-azampaymomo-form .azampesa-container * {
  margin: 0 !important;
  padding: 0 !important;
}

#wc-azampaymomo-form .azampesa-container input {
  margin-top: 23px;
}

#wc-azampaymomo-form .azampesa-img.azampesa-img {
  width: 163px;
  max-height: 100%;
}

#wc-azampaymomo-form .azampesa-container input,
#wc-azampaymomo-form .radio-btn-container input {
  cursor: pointer;
  width: 17px;
}

#wc-azampaymomo-form .radio-btn-container::before,
#wc-azampaymomo-form .radio-btn-container::after {
	content: unset;
}

#wc-azampaymomo-form .radio-btn-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
}

#wc-azampaymomo-form .radio-btn-container input {
  height: 100%;
  margin: 0 !important;
}

#wc-azampaymomo-form .radio-btn-container .other-partner-img.other-partner-img {
  width: 100px;
  border-radius: 40px;
  max-height: 100%;
  margin: 0 !important;
}

#wc-azampaymomo-form .radio-btn-container label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 3px;
}

.mt-0 {
  margin-top: 0 !important;
}

.wc-azampay-logo {
  margin-right: 2rem !important;
  flex: 1;
}

.wc-azampay-logo img {
  min-width: 60px;
  min-height: 40px;
}